@import "./variables.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
/* ================== common design pattern ================*/
button{
    padding: 6px 30px;
    font-size: var(--extra-small);
    color: var(--primary-text-color);
    outline: none;
    border: none;
    background: none;
}
.btn{
    border: 2px solid var(--secondary-color);
    color:var(--secondary-color)
}
.btn:hover{
    background-color: var(--secondary-color);
    color:var(--primary-text-color)
}
.btn-1{
    border: 2px solid var(--primary-color);
    
}
.btn-2{
    border: 2px solid var(--secondary-color);
    color:var(--secondary-color)
}

.btn-2:hover{
    background: var(--secondary-color);
    color: var(--primary-text-color);
}
/* ------------- header -----------*/
header{
    background: linear-gradient(135deg,rgb(0,0,0,1),rgb(0,0,0,.2)),
   url(../img/cover.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 450px;
}
/* navbar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: relative;
}
header nav .menu{
   display: none;
  
}


header nav .menu>ul li{
    list-style: none;
}
header nav .menu>ul li a{
    text-decoration: none;
    color:var(--primary-text-color);
    font-size:var(--small);
    padding-bottom: 2px;
    transition: .2s;
}
header nav .menu>ul li a:active{
    color:var(--primary-color)
}
header nav .menu>ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
}

/* responsive menu */
header nav .menu.active{
   position: absolute;
   top:0px;
   left:0;
   display:flex;
   align-items: center;
   justify-content: center;
   background-color: var(--secondary-color);
   width: 100%;
   height: 100vh;
   line-height: 60px;
   position: absolute;

}
header .menu-icon{
    color:var(--primary-text-color);
    font-size: 20px;
}

header .menu-icon .close{
   position: relative;
   z-index: 100;
   top:0;
   left:-20px;
   display: none;
}
header .menu-icon .close:hover{
    color:var(--primary-color)
 }
 
 /* banner */
header .banner{
    text-align: center; 
    width: 95%;
    margin: 0 auto;
    margin-top: 90px; 
}

header .banner .banner-text h2{
    font-size: var(--medium);
    color:var(--primary-text-color);
}

header .banner .banner-text p{
    font-size: var(--small-sm-device);
    color:var(--light-text-color);
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}
header .banner>.banner-button{
    margin-top: 40px;
}
header .banner>.banner-button button:nth-child(1){
    margin-right: 8px;
    background:var(--primary-color);
    padding: 8px 32px;
}
header .banner>.banner-button button:nth-child(2):hover{
    background:var(--primary-color);
}

/*------------ banner card -------------*/

.card{
    background-color: var(--secondary-color);
    color:var(--primary-text-color);
    width:90%;
    margin: 0 auto;
    padding:0px 30px;
    transition: .3s;
    margin-top: 20px;
  
}
.card img,h4{
    margin-top:25px;
}
.card > p{
    margin-top: 35px;
    padding-bottom: 45px;
}
.card > h4{
    position: relative;
}

.card:hover{
    background-color: var(--primary-color);
}

.card > h4::before{
      content:"";
      position: absolute;
      height: 2px;
      width: 40px;
      background-color: var(--primary-text-color);
      top:35px;
      left:0;
}

/* ----------- details ----------- */
  .details{
      width: 100%;
      margin: 0 auto;
      margin-top: 100px;
  }
  .details .details-text{
      padding-left: 20px;
  }
  .details .details-text h2,p,button{
      margin-bottom: 25px;
  }
  .details .detalis-img{
      display: flex;
      justify-content: space-between;
  }
  .details .detalis-img .img-box{
      position: relative;
      width: 48%;
      min-height: 200px;
  }
  .details .detalis-img .img-box img{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
} 
  .details .detalis-img .img-box::before{
      content:"";
      position: absolute;
      top:0;
      left: 0;
      background: var(--secondary-color);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .6s;
  }

  .details .detalis-img .img-box:hover:before{
    opacity: 0.3;
  }
 
  /* -------- services ----------- */
  .services{
    margin-top: 50px;
    padding: 20px 0px 20px 0px;
    background-color: var(--light-bg-color);
} 

.services .services-left,.services-right{
    width: 90%;
    margin: 0 auto;
}
 .services h4{
    color: var(--secondary-color);
    font-size: var(--medium);
    margin-bottom: 8px;
}
 .services p{
    color: var(--light-text-color);
    font-size: var(--extra-small);
 
}
.services .services-right h2{
    color: var(--secondary-color);
    font-size: var(--large-md-device);
    margin-bottom: 20px;
}



/* ------------- product filter --------------- */
.product-filter{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.product-filter .product-menu ul{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-filter .product-menu ul li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin-left:0px;
    padding: 2px 3px;
    font-size: var(--extra-small);
    color:var(--secondary-color);
    transition: .5s; 
    text-transform: uppercase;
}

.product-filter .product-menu ul li:hover{
    color:var(--primary-color);
}

/* product items */
.product-filter .product-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-filter .product-items .product{
    width: 48%;
    height: 150px;
    margin:0px 1% 5px 1%;
}

.product-filter .product-items .product img{
    width: 100%;
    height: 100%;
}

/* ------------------ clients- ------------ */
.clients{
    width: 90%;
    margin:0 auto;
    margin-top:50px
}
.clients .clients-text p{
    margin-top:25px;
}
.clients .clients-text button{
    margin:20px 0px 50px 0px;
}
.clients .clients-video .video-box iframe{
    width:100%;
    height:200px
}

/* ------------ handcrafted --------- */
.handcrafted{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    background-color:var(--light-bg-color);
}

.handcrafted .handcrafted-text {
    padding-left: 20px;
    padding-top: 50px;
}
.handcrafted .handcrafted-text h2,p,button{
    margin-bottom: 25px;
}

.handcrafted-icon-box{
    margin-top: 20px;
    padding-right: 20px;
}
.handcrafted-img-box{
    height:350px;
    width: 100%;
    padding: 0px 20px;
}
.handcrafted-img-box img {
    height: 100%;
    width: 100%;
}






/*==================  device ===================*/
@media only screen and (min-width:480px){
 
}

/* ======================= tablet =================== */
@media only screen and (min-width:767px){
    header .banner .banner-text h2{
        font-size: var(--large-md-device);
    }
    
    header .banner .banner-text p{
        font-size: var(--small);
    }
/* banner card */
    .banner-card{
    display: flex;
    justify-content:space-around;
}
.card{
    width:32%; 

}
/* ------------- details ------------- */
 .details{
      width: 100%;
      padding: 50px 0px 50px 0px;
      background-color: var(--secondary-color);
      color:var(--primary-text-color);
  }

  .details .details-text{
      padding: 20px 20px 0px 50px;
  }
  .details .detalis-img{
      justify-content: space-evenly;
      margin-top: 20px;
  }
  .details .detalis-img .img-box{
    width: 40%;
    max-height: 300px;
}

.btn-2.details-btn{
    border: 2px solid var(--primary-text-color);
    color:var(--primary-text-color)
}

.btn-2.details-btn:hover{
    background: var(--primary-text-color);
    color: var(--secondary-color);
    
}

/* services */

.services .services-left{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.services .services-left .services-box{
    width: 40%;
}


/* ------------- product filter ------------ */
.product-filter .product-menu{  
    width: 70%;
    margin: 0 auto;
}

/* -------- clients --------- */
.clients .clients-text h2{
    font-size: var(--large-md-device);
}
.clients .clients-text p{
    padding-right: 80px;
    font-size: var(--small-sm-device);
}
.clients .clients-video .video-box iframe{
    height:300px
}

.handcrafted{
    display: flex;
    margin-top: 50px;
}
.handcrafted .handcrafted-text{
    background-color:var(--light-bg-color);
    padding-left:40px;
    width: 50%;
}
.handcrafted .handcrafted-text p{
   font-size:var(--extra-small) ;
}
.handcrafted .handcrafted-text h2{
   font-size:var(--large-md-device);
}


.handcrafted-text .handcrafted-icon-box{
    display: flex;
    justify-content: space-between;
}
.handcrafted-text .handcrafted-icon-box .handcrafted-box{
    width: 50%;
    padding-right: 12px;
}
.handcrafted-text .handcrafted-icon-box .handcrafted-box img{
    width:50px;
    height: 50px;
}

.handcrafted-img{
 width: 50%;
 display: flex;
 align-items: flex-end;
}
.handcrafted-img-box{

}
.handcrafted-img-box img {
   height: 100%;
   width: 100%;
}

}
/* =================== laptop ================== */
@media only screen and (min-width:991px){

    header{
    min-height: 550px;
}

/* navbar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 200px;
    padding-top: 30px;
    cursor: pointer;
}

header nav .menu{
    display: block;
    justify-content: space-between;
   
 }

 header nav .menu-icon .open{
     display: none;
 }

 header nav .menu>ul li{
    display: inline; 
    margin-left:20px; 
}

header nav .menu>ul li a{
    font-size:var(--extra-small);
}

/* banner */
header .banner{
    width: 70%;  
}

 header .banner .banner-text h2{
    font-size: var(--large);
}

header .banner .banner-text p{
    font-size: var(--small);
    padding-top: 40px;
    width: 60%;
}

header .banner>.banner-button{
    margin: 40px;
}

/* banner card */

.banner-card{
    display: flex;
    justify-content: space-between;
    margin:-70px 150px 0px 150px;
}

.card{
    background-color: var(--secondary-color);
    padding:0px 30px;
}

/*------------ details ----------- */
.details{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
}

.details .details-text{
    width: 40%;
    padding-left: 0px;
}
.details .details-text h2{
    font-size: var(--large-md-device);
}
.details .details-text p{
    font-size: var(--small-sm-device);
}
.details .details-img{
    width: 30%;
}

/* ------- services--------- */
.services{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.services .services-right h2{
    margin-top:25px;
    padding-right: 20px;
}
.services .services-right p{
    padding-right: 60px;
}

/* -------- products filter -------------*/

.product-filter{
    margin-top: 80px;
}
.product-filter .product-menu{  
    width: 60%;
}
.product-filter .product-menu ul li{
    padding: 2px 10px;
}
.product-filter .product-items .product{
    width: 24%;
    min-height: 230px;
    margin:0px .5% 10px .5%;
}
/* --------- clients --------- */
.clients{
    display: flex;
}
.clients .clients-text{
    width: 50%;
}
.clients .clients-video {
    width: 50%;
}

.clients .clients-video .video-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.clients .clients-video .video-box iframe{
    height:250px;
    width: 80%;
}


}

/* =================== large device ================ */
@media only screen and (min-width:1200px){

.banner-card{
    margin:-100px 150px 0px 150px;
}
.product-filter{
    margin-top: 100px;
}
.product-filter .product-menu{  
    width: 50%;
}

.product-filter .product-menu ul li{
    padding: 2px 15px;
    font-size: var(--small);
}
.clients {
    margin-bottom: 50px;
}

.clients .clients-video .video-box iframe{
    height:300px;
    width: 80%;
}

.handcrafted .handcrafted-text{
    width: 40%;
    padding-left:55px;
}

.handcrafted-img{
    width: 60%;
   }

   .handcrafted-img-box{
    min-height:550px;
}

}

