@import "./variables.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
/* ================== common design pattern ================*/
button{
    padding: 6px 30px;
    font-size: var(--extra-small);
    color: var(--primary-text-color);
    outline: none;
    border: none;
}
.btn-1{
    background: none;
    border: 2px solid var(--primary-color);
    
}
.btn-2{
    background: none;
    border: 2px solid var(--secondary-color);
    color:var(--secondary-color)
}

.btn-2:hover{
    background: var(--secondary-color);
    color: var(--primary-text-color);
}
/* ------------- header -----------*/
header{
    background: linear-gradient(135deg,rgb(0,0,0,1),rgb(0,0,0,.2)),
   url(../img/cover.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 450px;
}
/* navbar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: relative;
}
header nav .menu{
   display: none;
  
}


header nav .menu>ul li{
    list-style: none;
}
header nav .menu>ul li a{
    text-decoration: none;
    color:var(--primary-text-color);
    font-size:var(--small);
    padding-bottom: 2px;
    transition: .2s;
}
header nav .menu>ul li a:active{
    color:var(--primary-color)
}
header nav .menu>ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
}

/* responsive menu */
header nav .menu.active{
   position: absolute;
   top:0px;
   left:0;
   display:flex;
   align-items: center;
   justify-content: center;
   background-color: var(--secondary-color);
   width: 100%;
   height: 100vh;
   line-height: 60px;
   position: absolute;

}
header .menu-icon{
    color:var(--primary-text-color);
    font-size: 20px;
}

header .menu-icon .close{
   position: relative;
   z-index: 100;
   top:0;
   left:-20px;
   display: none;
}
header .menu-icon .close:hover{
    color:var(--primary-color)
 }
 
 /* banner */
header .banner{
    text-align: center; 
    width: 95%;
    margin: 0 auto;
    margin-top: 90px; 
}

header .banner .banner-text h2{
    font-size: var(--medium);
    color:var(--primary-text-color);
}

header .banner .banner-text p{
    font-size: var(--small-sm-device);
    color:var(--light-text-color);
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}
header .banner>.banner-button{
    margin-top: 40px;
}
header .banner>.banner-button button:nth-child(1){
    margin-right: 8px;
    background:var(--primary-color);
    padding: 8px 32px;
}
header .banner>.banner-button button:nth-child(2):hover{
    background:var(--primary-color);
}

/*------------ banner card -------------*/

.card{
    background-color: var(--secondary-color);
    color:var(--primary-text-color);
    width:90%;
    margin: 0 auto;
    padding:0px 30px;
    transition: .3s;
    margin-top: 20px;
  
}
.card img,h4{
    margin-top:35px;
}
.card > p{
    margin-top: 35px;
    padding-bottom: 45px;
}
.card > h4{
    position: relative;
}

.card:hover{
    background-color: var(--primary-color);
}

.card > h4::before{
      content:"";
      position: absolute;
      height: 2px;
      width: 40px;
      background-color: var(--primary-text-color);
      top:35px;
      left:0;
}

/* ----------- details ----------- */
  .details{
      width: 90%;
      margin: 0 auto;
      margin-top: 100px;
  }

  .details .details-text h2,p,button{
      margin-bottom: 25px;
  }
  .details .detalis-img{
      display: flex;
      justify-content: space-between;
  }
  .details .detalis-img .img-box{
      position: relative;
      width: 48%;
      min-height: 200px;
  }
  .details .detalis-img .img-box img{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
} 
  .details .detalis-img .img-box::before{
      content:"";
      position: absolute;
      top:0;
      left: 0;
      background: var(--secondary-color);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .6s;
  }

  .details .detalis-img .img-box:hover:before{
    opacity: 0.3;
  }
 
  
/*==================  device ===================*/
@media only screen and (min-width:480px){
 
}

/* ======================= tablet =================== */
@media only screen and (min-width:767px){
    header .banner .banner-text h2{
        font-size: var(--large-md-device);
    }
    
    header .banner .banner-text p{
        font-size: var(--small);
    }
/* banner card */
    .banner-card{
    display: flex;
    justify-content:space-around;
}
.card{
    width:32%; 

}
/* ------------- details ------------- */
 .details{
      width: 100%;
      padding: 50px 0px 50px 0px;
      background-color: var(--secondary-color);
      color:var(--primary-text-color);
  }

  .details .details-text{
      padding: 20px 20px 0px 50px;
  }
  .details .detalis-img{
      justify-content: space-evenly;
      margin-top: 20px;
  }
  .details .detalis-img .img-box{
    width: 40%;
    max-height: 300px;
}

.btn-2.details-btn{
    border: 2px solid var(--primary-text-color);
    color:var(--primary-text-color)
}

.btn-2.details-btn:hover{
    background: var(--primary-text-color);
    color: var(--secondary-color);
}


}
/* =================== laptop ================== */
@media only screen and (min-width:991px){

    header{
    min-height: 550px;
}

/* navbar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 200px;
    padding-top: 30px;
    cursor: pointer;
}

header nav .menu{
    display: block;
    justify-content: space-between;
   
 }

 header nav .menu-icon .open{
     display: none;
 }

 header nav .menu>ul li{
    display: inline; 
    margin-left:20px; 
}

header nav .menu>ul li a{
    font-size:var(--extra-small);
}

/* banner */
header .banner{
    width: 70%;  
}

 header .banner .banner-text h2{
    font-size: var(--large);
}

header .banner .banner-text p{
    font-size: var(--small);
    padding-top: 40px;
    width: 60%;
}

header .banner>.banner-button{
    margin: 40px;
}

/* banner card */

.banner-card{
    display: flex;
    justify-content: space-between;
    margin:-70px 150px 0px 150px;
}

.card{
    background-color: var(--secondary-color);
    padding:0px 30px;
}

/*------------ details ----------- */
.details{
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
}

.details .details-text{
    width: 40%;
}
.details .details-text h2{
    font-size: var(--large-md-device);
}
.details .details-text p{
    font-size: var(--small-sm-device);
}
.details .details-img{
    width: 30%;
}
    
}

/* =================== large device ================ */
@media only screen and (min-width:1200px){
    /* banner card */

.banner-card{
    margin:-100px 150px 0px 150px;
}

}

























/* ====================== header ================= */
/* header{
    background: linear-gradient(135deg,rgb(0,0,0,1),rgb(0,0,0,.2)),
   url(../img/cover.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 550px;
} */
/* navbar */
/* header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 200px;
    padding-top: 30px;
    cursor: pointer;
}

header nav .menu>ul li{
    list-style: none;
    display: inline; 
    margin-right:50px; 
}
header nav .menu>ul li a{
    text-decoration: none;
    color:var(--primary-text-color);
    font-size:var(--extra-small);
    padding-bottom: 2px;
    transition: .2s;
}
header nav .menu>ul li a:active{
    color:var(--primary-color)
}
header nav .menu>ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
} */

/* banner */
/* header .banner{
    width: 70%;
    margin: 0 auto;
    margin-top: 90px; 
    text-align: center;   
} */

/* header .banner .banner-text h2{
    font-size: var(--large);
    color:var(--primary-text-color)
}

header .banner .banner-text p{
    font-size: var(--small);
    color:var(--light-text-color);
    padding-top: 40px;
    width: 60%;
    margin: 0 auto;
}
header .banner>.banner-button{
    margin: 40px;
}
header .banner>.banner-button button:nth-child(1){
    margin-right: 8px;
    background:var(--primary-color);
    padding: 8px 32px;
}
header .banner>.banner-button button:nth-child(2):hover{
    background:var(--primary-color);
} */

/* banner card */

/* .banner-card{
    display: flex;
    justify-content: space-between;
    margin:-60px 200px 0px 200px;
}

.card{
    background-color: var(--secondary-color);
    color:var(--primary-text-color);
    width:30%;
    padding:0px 30px;
    transition: .3s;
}
.card img,h4,p{
    margin-top:35px;
}
.card > p{
    padding-bottom: 35px;
}

.card:hover{
    background-color: var(--primary-color);
} */